@import url('https://use.typekit.net/oov2wcw.css');
*{
    font-family: 'Century Gothic', sans-serif !important;

}
p{
    font-size: .8em;
    padding: 5px;
    box-sizing: border-box;
}  
b{
    font-size: .9em;
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    opacity: .7;
}
.box_shadow {
    border: 1px solid #d5d5d5;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(158,144,158,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(158,144,158,1);
    box-shadow: 10px 10px 5px -6px rgba(158,144,158,1);
    padding: 5px 10px 5px 10px;
}
.list{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap:10px
}
.item_circle{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #5B6E7F;
    border: 1px solid #5B6E7F;
    color: #fff;
    font-weight: bold;
}
.question {
    list-style: none; 
    margin-left: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.question li{
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    font-size: .7em;
}
.question li span{
    width: 30px;
}
.question li div{
    width: calc(100% - 30px);
}
.red{
    background-color: #FF5E62 !important;
    color: #fff;
    border: 1px solid #FF5E62 !important;
}
.red::placeholder {
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.green{
    background-color: #00C2B7 !important;
    color: #fff;
    border: 1px solid #00C2B7 !important;
}
.green::placeholder {
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.yellow{
    background-color: #FFB12A !important;
    color: #fff;
    border: 1px solid #FFB12A !important;
}
.yellow::placeholder {
    color: #fff;
    font-size: 1em;
    text-align: center;
}

.input{
    width: 472px;
    padding: 10px;
    border: 1px solid #d5d5d5;
}
.dragg,.dropp{
    font-size:11px;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.visited{
    filter: sepia(1);
}